.DS_Store
.atom/
.idea
.vscode/
.packages
.pub/
build/
ios/.generated/
.dart_tool/
packages
.flutter-plugins
functions/node_modules/
pubspec.lock
**/google-services.json
**/GoogleService-Info.plist



